body{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(17, 221, 211);
}
h1 {
text-align: center;
margin: 50px;
}

#guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border-radius: 5px;
    background-color: rgb(208, 228, 235);
    border-color: bisque;
    text-align: center;
}
#guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(209, 13, 78);
    font-family:Verdana, Geneva, Tahoma, sans-serif; color: beige;
    border-radius: 4px;
    border-color: bisque;
}
button:active{
    transform: scale(0.95);
}
 
#guess-button:disabled{
    background-color: red;
    border-color: bisque;
}
.letter {
    border: 1px solid rgb(255, 251, 251);
    padding: 5px;
    margin: 1px;
    min-width: 25px;
    text-align: center;
    display: inline-block; 
    border-radius: 4px;
    margin-top: 15px;

}

.row {
    margin-bottom: 10px;
    text-align: center;
   
}
.input-area{
    margin: 30px;
    
}